/*font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;*/

.secciónAboutUs{
	position: relative;
	padding-bottom: 200%;
}
/*Sección de About Us*/

.AboutUs{
	position: relative;
	width: 70%;
	height: 394px;
	left: 9%;
	top: 590px;
}
.AboutUs h2{
	position: relative;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 200%;
	line-height: 150%;
	top: 4%;
	width: 100%;
}
.AboutUs p{
	position: relative;
	font-family: 'Rubik', sans-serif;
	line-height: 170%;
	top: 11%;
	width: 125%;
}
.AboutUsText02{
	position: relative;
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-top: -3%;
}
.MakeAnAppointment{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 34%;
	padding-right: 30%;
	left: 158%;
	bottom: 211px;
	color: #FFFFFF;
}
.FindADoctor{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 38%;
	padding-right: 40%;
	left: 158%;
	bottom: 155px;
	color: #FFFFFF;
}
.GetDirections{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 40%;
	padding-right: 37%;
	left: 158%;
	bottom: 100px;
	color: #FFFFFF;
}
/*Sección de WHY CHOOSE US*/

.WhyChooseUs{
	position: absolute;
	width: 87%;
	height: 25%;
	left: 9.6%;
	top: 35.6%;
}
header h3{
	position: relative;
	font-family:  'Roboto Slab', serif;
	line-height: 157%;
	font-size: 198%;

	position: relative;
	width: 100%;
	left: 204%;
	top: -0.19%;
}
.CartaUno .card{
	position: relative;
	right: 46%;
	top: 110px;
	width: 68%;
}
.CartaUno .card h4{
	font-family: 'Rubik', sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;

	font-style: normal;
	font-size: 25.1px;
	line-height: 37px;

	padding-top: 6.5%;
}
.CartaUno .card p{
	font-family: 'Rubik', sans-serif;
	color: #878DA4;
	display: flex;
	align-items: center;
	position: relative;

	line-height: 27px;
	font-size: 16px;
	width: 100%;

	padding-top: 13px;
	text-align: center;
}
.CartaDos .card{
	position: relative;
	left: 27%;
	top: -380px;
	width: 69%;
}
.CartaDos .card h4{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-size: 24px;
	line-height: 38px;
	padding-top: 5%;
	width: 5;

	display: flex;
	align-items: center;
	text-align: center;

	color: #0F1C49;
}
.CartaDos .card p{
	font-family: 'Rubik', sans-serif;
	color: #878DA4;

	align-items: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	padding-top: 3%;

	width: 100%;
	padding-left: 2%;
	display: flex;
	align-items: center;
	text-align: center;

}
.CartaTres .card{
	position: relative;
	left: 101%;
	top: -872.2px;
	width: 69%;
}
.CartaTres .card h4{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	padding-top: 5%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #0F1C49;
}
.CartaTres .card p{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	padding-top: 3%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #878DA4;
}

/*Sección de SLIDER*/

.Slider{
	position: absolute;
	width: 1440px;
	height: 401px;
	left: 0px;
	top: 1786px;
}
.RectangleAU04 .card{
	position: relative;
	right: 170px; 
	top: 100px;
	width: 334.2px;
}
.RectangleAU05 .card{
	position: relative;
	left: 170px; 
	bottom: 333px;
	width: 770px;
}
.RectangleAU06 .card{
	position: relative;
	left: 949.4px; 
	bottom: 765px;
	width: 329px;
}