/*font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;*/

.secci贸nAboutUs{
	position: relative;
	padding-bottom: 200%;
}
/*Secci贸n de About Us*/

.AboutUs{
	position: relative;
	width: 70%;
	height: 394px;
	left: 9%;
	top: 590px;
}
.AboutUs h2{
	position: relative;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 200%;
	line-height: 150%;
	top: 4%;
	width: 100%;
}
.AboutUs p{
	position: relative;
	font-family: 'Rubik', sans-serif;
	line-height: 170%;
	top: 11%;
	width: 125%;
}
.AboutUsText02{
	position: relative;
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-top: -3%;
}
.MakeAnAppointment{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 32%;
	padding-right: 30%;
	left: 158%;
	bottom: 211px;
	color: #FFFFFF;
}
.FindADoctor{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 36%;
	padding-right: 40%;
	left: 158%;
	bottom: 155px;
	color: #FFFFFF;
}
.GetDirections{
	position: relative;
	background-color: #09A4D8;
	border-radius: 4%;
	padding: 4%;
	padding-left: 38%;
	padding-right: 37%;
	left: 158%;
	bottom: 100px;
	color: #FFFFFF;
}
/*Secci贸n de WHY CHOOSE US*/

.WhyChooseUs{
	position: absolute;
	width: 87%;
	height: 25%;
	left: 9.6%;
	top: 35.6%;
}
header h3{
	position: relative;
	font-family:  'Roboto Slab', serif;
	line-height: 157%;
	font-size: 198%;

	position: relative;
	width: 100%;
	left: 212%;
	top: -0.19%;
}
.CartaUno .card{
	position: relative;
	right: 42%;
	top: 110px;
	width: 66%;
}
.CartaUno .card h4{
	font-family: 'Rubik', sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;

	font-style: normal;
	font-size: 25.1px;
	line-height: 37px;

	padding-top: 6.5%;
}
.CartaUno .card p{
	font-family: 'Rubik', sans-serif;
	color: #878DA4;
	display: flex;
	align-items: center;
	position: relative;
	top: -32px;

	line-height: 27px;
	font-size: 16px;

	text-align: center;
}
.CartaDos .card{
	position: relative;
	left: 29%;
	top: -412px;
	width: 67%;
}
.CartaDos .card h4{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-size: 23px;
	line-height: 38px;
	padding-top: 5%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #0F1C49;
}
.CartaDos .card p{
	font-family: 'Rubik', sans-serif;
	color: #878DA4;

	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	margin-top: 15px;

	display: flex;
	text-align: center;

}
.CartaTres .card{
	position: relative;
	left: 101%;
	top: -910px;
	width: 67%;
}
.CartaTres .card h4{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	padding-top: 6%;

	display: flex;
	text-align: center;

	color: #0F1C49;
}
.CartaTres .card p{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	margin-top: 15px;

	display: flex;
	text-align: center;

	color: #878DA4;
}

/*Secci贸n de SLIDER*/

.Slider{
	position: absolute;
	width: 105%;
	height: 21%;
	top: 57.7%;
}
.RectangleAU04 .card{
	position: relative;
	right: 5%;
	top: 102px;
	width: 75%;
}
.RectangleAU05 .card{
	position: relative;
	left: 73%; 
	bottom: 333px;
	width: 173%;
}
.RectangleAU06 .card{
	position: relative;
	left: 248%; 
	bottom: 765px;
	width: 75%;
}
/*TESTIMONIALS*/
.Testimonials{
	position: absolute;
	width: 86%;
	left: 10%;
	top: 78.3%;
}
.Testimonials h5{
	color: #09A4D8;
	line-height: 24px;
	font-size: 14px;
	font-weight: 500px;
	font-family: 'Rubik', sans-serif; 
}
.Testimonials h4{
	color: #0F1C49;
	line-height: 48px;
	font-family: 'Roboto Slab', serif; 
	font-size: 31px;
	font-weight: 400px;
	margin-top: -.1%; 
}
#frank_1{
	position: absolute;
	margin-top: 12%;
	margin-left: -2%;
}
.card h5{
	color: #0F1C49;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	font-family: 'Rubik', sans-serif; 
	margin-top: 16%;
	margin-left: 7%; 
}
#card_3 h5{
	font-weight: 500px;
	color: #000000;
}
.card h4{
	color: #878DA4;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	font-family: 'Rubik', sans-serif;  
}
.card p{
	color: #878DA4;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Rubik', sans-serif;   
	line-height: 28px;
	margin-top: 11.5%;
	margin-left: -3%;
	width: 85%;
}
.cards {
	margin-top: 6%;
}
.card{
	width: 88.5%;
}
#card_1{
	margin-left: 5%;
	border: transparent;
	border-radius: 24px;
}
#card_2{
	margin-left: 9%;
	margin-top: 16%;
	border: transparent;
	border-radius: 24px;
}
#card_3{
	margin-left: 12%;
	border: transparent;
	border-radius: 24px;
}