body{
		background: rgba(141, 186, 201, 0.06)
}
.marcas{
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	font-weight: 400px;
}

#Trusted{
	margin-top: 10%;
	margin-left: 5%;
}
.marcas abc{
	color: #09A4D8;
	font-weight: 700px;
}
.marcas img{
	margin-top: 25%;
}
.our-service h5 {
	margin-top: 13.5%;
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	font-size: 32px;
	color: #0F1C49;
}
.our-service img{
	margin-top: 35.3%;
}
.our-service h4{
	color: #0F1C49;
	margin-top: 10%;
	margin-bottom: 9%

}
.our-service p{
	color: #878DA4;
	font-size: 16px;
	font-weight: 400px;
	margin-bottom: 68%;
	line-height: 28px;
	width: 80%;
	margin-left: 10%;
}
.process_1 h4{
	color: #0F1C49;
	line-height: 48px;
	font-size: 32px;
	font-weight: normal;
	font-family: 'Roboto Slab', serif; 
	width: 110%;
	margin-bottom: 12%;
	margin-top: 32.4%;
}
.process_1 h5{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Rubik', sans-serif;
	color: rgba(135, 141, 164, 1);
	width: 115%; 
	line-height: 28px;
}
#doc{
	margin-right: -20%;
}